body {
  min-width: 340px;
}

strong {
  overflow-wrap: anywhere;
}

table {
  width: 100%;
}

td:first-child {
  overflow-wrap: anywhere;
}

td:last-child {
  width: 1%;
  text-align: right;
  white-space: nowrap;
}

button {
  white-space: nowrap;
}
